html{
  background-color: rgb(7, 2, 26);
   background-size: 100%;
    background-attachment: scroll;
}
img {
    width: 450px;
    height: 500px;
    margin: 20px;
    transition: all 2s;
}
img:hover{
    transform: scale(1.2);
    animation: alternate-reverse;
}
video{
    width: 450px;
    height: 500px;
    margin: 20px;
    transition: all 2s;
}
video:hover{
    transform: scale(1.2);
    animation: alternate-reverse;   
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
/* .navbar {
    overflow: hidden;
    background-color: 
    font-family: Algerian;
    font-size: px;
    justify-content: center;
  } */
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(95, 95, 91, 0.2);
  }

  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0px; 
    border-radius: 25px;
    box-shadow: 0px 8px 16px 0px rgba(95, 95, 91, 0.2);
  }
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(79, 7, 248);
    padding: 14px 16px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(114, 104, 136);
    min-width: 160px;
    box-shadow:  0px 8px 16px 0px rgba(95, 95, 91, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: rgb(33, 18, 116);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .mimi a {
    background-color:transparent;
    border: 20px;
    color: white;
    padding: auto;
    text-align: center ;
    text-decoration: poppins;
    cursor: pointer;
    opacity: 2px;
    border-radius: 25px;
    height: 40px;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(95, 95, 91, 0.2);
    font-family:  Algerian;
  }
  .mimi{
    background-color:transparent;
    border: 20px;
    color: rgb(55, 32, 155);
    padding: auto;
    text-align: center ;

    cursor: pointer;
    opacity: 2px;
    border-radius: 25px;
    height: 40px;
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(95, 95, 91, 0.2);
    font-family:  Algerian;
    
    font-size: 16px;
    color: rgb(255, 255, 255);
    
    padding: 14px 16px;
    text-decoration: none;
    
  }
  .mimi:hover{
    opacity: 1px;
    background-color: rgb(173, 26, 173);
    padding: 14px 16px;
    color: white;
  }


  #rainbow-box{
    height:657px;
    background-size: cover;
  background: linear-gradient(
    170deg, 
  rgb(1, 0, 17) 0%,
   rgb(1, 1, 41) 10%, 
   rgb(5, 1, 61) 20%, 
   rgb(8, 1, 100) 30%, 
   rgb(3, 1, 117) 40%, 
   rgb(6, 3, 197) 50%, 
   
  rgb(40, 28, 201) 60%, 
  rgba(95,21,242,1) 70%, 
  rgba(186,12,248,1) 80%, 
  rgba(251,7,217,1) 90%, 
  rgba(255,0,0,1) 100%
  );
  }

  #rainbow-box{
    height: 50px;
    background-size: cover;
  background: linear-gradient(
    170deg, 
  rgb(1, 0, 17) 0%,
  rgb(1, 0, 17) 10%, 
  rgb(1, 0, 17) 20%, 
  rgb(1, 0, 17) 30%, 
  rgb(1, 0, 17)) 40%, 
  rgb(1, 0, 17) 50%, 
   
  rgb(40, 28, 201) 60%, 
  rgba(95,21,242,1) 70%, 
  rgba(186,12,248,1) 80%, 
  rgba(251,7,217,1) 90%, 
  rgba(255,0,0,1) 100%;)
  }









  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: #3d3a4e;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  
  .header{
    border-bottom: 1px solid #E2E8F0;
    background-color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  hamburger styles
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:rgb(62, 231, 57);
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-item {
    margin-left: 5rem;
  }
  
  .nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    list-style: none;
    color:rgb(62, 231, 57);
  }
  
  .nav-link:hover{
    color: #482ff7;
  }
  
  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }
  
  
  @media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
  
    .nav-menu.active {
        left: 0;
    }
  
    .nav-item {
        margin: 2.5rem 0;
    }
  
    .hamburger {
        display: block;
        cursor: pointer;
    }
  
  }
  
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .hamburger:hover{
    cursor: pointer;
    color:  #5649aa;
    background-color: #ffffff;
  }
  
  
  .search{
    width: 330px;
    float: right;
    margin-left:100%;
    /* border-radius:12px; */
    display: flex;
   align-items: center;
   padding-top: 0px; 
   
    
  }
  .btn:hover{
    cursor: pointer;
    color:  #482ff7;
    background-color: #ffffff;
  
  }
  .srch{
   font-family: times new roman;
    height: 20px;
    background: transparent;
    border:1.5px solid linear-gradient(45deg, rgb(14, 2, 70), rgb(14, 5, 136), rgb(23, 1, 146), rgb(39, 7, 184), blue, indigo, violet, red);
   background-color: white;
    border-right:none;
    font-size: 12px;
    float: left;
    padding: 9px;
    border-top-left-radius: 5px;
   border-bottom-left-radius: 5px; 
  
    
  }
  .btn{
    width: 100px;
    height: 22px;
    background: linear-gradient(45deg, rgb(14, 2, 70), rgb(14, 5, 136), rgb(23, 1, 146), rgb(39, 7, 184), blue, indigo, violet, red);
     border: none;
    color: white #fff;
    font-size: 14px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
    
  }
  
  .btn:focus{
   outline: none;
  }
  .srch:focus{
   outline: none;
   text-decoration: none;
  }
  